<nav>
  Task 4: Form
</nav>

<div class="form-container">
  <h2>log in</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label>
      Name:
      <input type="text" formControlName="name">
      <span *ngIf="form.controls['name'].touched && form.controls['name'].invalid">
        Name is required and must be at least 3 characters.
      </span>
    </label>
    <br><br>

    <label>
      Email:
      <input type="email" formControlName="email">
      <span *ngIf="form.controls['email'].touched && form.controls['email'].invalid">
        Please enter a valid email.
      </span>
    </label>
    <br><br>

    <label>
      Password:
      <input type="password" formControlName="password">
      <span *ngIf="form.controls['password'].touched && form.controls['password'].invalid">
        Password must be at least 6 characters.
      </span>
    </label>
    <br><br>

    <button type="submit" [disabled]="form.invalid">Submit</button>
  </form>
</div>


<div class="modal" *ngIf="submittedData">
  <div class="modal-content modern">
    <h3> Form Submitted Successfully!</h3>

    <div class="info-box">
      <p><strong>Username:</strong> {{ submittedData.name }}</p>
      <p><strong>Email:</strong> {{ submittedData.email }}</p>
      <p><strong>Password:</strong> {{ submittedData.password }}</p>
    </div>

    <button class="close-btn" (click)="submittedData = null">Close</button>
  </div>
</div>



<footer>
  © 2025 Abdallah hany
</footer>
